*{
    font-family: sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    background-color: rgb(249, 104, 128);
    color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.card{
    padding: 10px;
    border-radius: 10px;
}


.content{
    padding-left: 20px;
}

.footer{
    display: flex;
    justify-items: center;
    justify-content: center;
}